*{
    margin: 0;
    padding: 0;
}

.navbar{
    position:fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.d-flex .form-control{
    height: 45px;
    width: 900px;
    background-color: #F1F1F1;
    border: none;
}

div .container-fluid{
    margin:0;
    align-items: center;
}
.navbar-brand {
    font-weight: bold;
    padding-top: 1.45rem;
    padding-bottom: .3125rem;
    /*margin-right: 3rem;*/
    font-size: 1rem;
    text-decoration: none;
    /*white-space: nowrap;*/
    align-items: center;
}

.navbar-brand .Inicio{
    background-color: black;
}

.container-feed{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px 2% 0 2%;
}

.container-column{
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.container-insideOne, .container-insideTwo, .container-insideThree{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-insideOne .container-imagCapt img{
    height: 270px;
    width: 245px;
    border-radius: 20px;
}

.container-insideTwo .container-imagCapt img{
    height: 200px;
    width: 245px;
    border-radius: 20px;
}

.container-insideThree .container-imagCapt img{
    height: 370px;
    width: 245px;
    border-radius: 20px;
}

.feed-caption{
    font-size: 15px;
    font-weight: bold;
}

.container-imagCapt{
    border-radius: 20px;
}

.feed-img:hover{
    box-shadow: 0 25px 45px rgba(0,0,0,0.19), 0 17px 17px rgba(0,0,0,0.23);
    opacity: .9;
    transform:scale(1.2);
        -ms-transform:scale(1.2); 
        -moz-transform:scale(1.2);  
        -webkit-transform:scale(1.2); 
        -o-transform:scale(1.2);  
        -webkit-transition: all 500ms ease-in-out; 
        -moz-transition: all 500ms ease-in-out;   
}

@media screen and (max-width: 1250px) {
    .firstColumn, .secondColumn, .thirdColumn, .fourthColumn, .fifthColumn{
        width: 25%;
    }
    .d-flex .form-control{
        height: 45px;
        width: 500px;
        background-color: #F1F1F1;
        border: none;
    }
}

@media screen and (max-width: 1000px) {
    .firstColumn, .secondColumn, .thirdColumn, .fourthColumn, .fifthColumn{
        width: 33.3%;
    }
}

@media screen and (max-width: 900px){
    .firstColumn, .secondColumn, .thirdColumn, .fourthColumn, .fifthColumn{
        width: 50%;
    }
    .container-insideOne .container-imagCapt img{
        height: 310px;
        width: 295px;
    }
    
    .container-insideTwo .container-imagCapt img{
        height: 250px;
        width: 295px;
    }
    
    .container-insideThree .container-imagCapt img{
        height: 410px;
        width: 295px;
    }
    
    .d-flex .form-control{
        height: 45px;
        width: 250px;
        background-color: #F1F1F1;
        border: none;
    }
}

@media screen and (max-width: 576px) {
    .firstColumn, .secondColumn, .thirdColumn, .fourthColumn, .fifthColumn{
        width: 100%;
    }

    .container-insideOne .container-imagCapt img{
        height: 470px;
        width: 445px;
    }

    .container-insideTwo .container-imagCapt img{
        height: 400px;
        width: 445px;
    }

    .container-insideThree .container-imagCapt img{
        height: 670px;
        width: 445px;
    }

    .d-flex .form-control{
        height: 45px;
        width: 0;
        background-color: #F1F1F1;
        border: none;
        opacity: 0;
    }

}
